@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Parisienne&display=swap');

/* font-family: 'Pacifico', cursive;
font-family: 'Parisienne', cursive; */

/* Universal design */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Below Navber component design */
.logo-text, .chef-container h1{ 
  background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
  background-size: 400%;
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 10s linear infinite;
}

@keyframes animate{
  0%{
      background-position: 0%;
  }

  100%{
      background-position: 400%;
  }
}

.links{
  text-decoration: none;
}

.nav-container{
  background-color: black;
}

 .nav-item{
    width: 90%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    font-size:1.3rem;
}

.nav-container img{
    width: 50px !important;
    height: 40px !important;
    border: 1px solid #ff7b00;
    border-radius: 50%;
}


/* Below Home page design */
.special-text{
  color:aqua;
}

.banner img{
    object-fit: cover;
    height: 60vh;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}

/* Below Login page design */
.login-bar{
  border: 1px solid black;
  font-size:1.3rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.login-bar:hover{
  border: 1px solid rgb(8, 164, 255);
  color: white !important;
  background-color: rgb(8, 164, 255);
}

/* Below ChefRecipe page design */
.details-container{
  width: 90%;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
}


.details-container img{
  max-width: 580px;
}

.receipe-card{
  width: 90% !important;
  margin: 0 auto;
}

.receipe-card span{
  font-weight: 500;
}

.receipe-image{
  height: 200px;
}


/* Below PopularChef component design */
.chef-card{
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

/* Below Newsletter component design */
.newsletter-container{
  background-image: linear-gradient(to left, rgba(51, 59, 65, 0.671), rgba(34, 32, 32, 0)),
  url('./assets/newsletter.png');
}

/* Below BookCuisine component design */
.bookcuisine-container{
  background-image: linear-gradient(to right, rgba(51, 59, 65, 0.671), rgba(34, 32, 32, 0)),
  url('./assets/bookcuisine.jpg');
}


/* Below Common background for bookcuisine and newsletter component */
.common-bg{
  width: 85%;
  margin: 6rem auto;
  min-height: 55vh;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  padding:2rem 4rem;
}

/* Below Common heading for bookcuisine and newsletter component */
.common-heading-text{
  font-size: 5rem;
}

/* Below Common paragraph for bookcuisine and newsletter component */
.common-paragraph-text{
  font-size: 1.5rem;
  text-align: end;
  font-weight: bold;
}

/* Below Common form for MailLogin and Register page */
.common-form{
  border-radius: 15px;
}

/* Below Blog page design */
.blog-banner{
  background: url(./assets/Vector-1.png) right top no-repeat, 
              url(./assets/Vector.png) left bottom no-repeat ;
  width: 100%;
  min-height: 10vh;
}

.q-and-a{
  border-radius: 15px;
}

/* Below common animation used as background for Blog, Registration, Login page */
.blog-container, .registration-form-container, .login-form-container{
  width: 100%;
  animation: animation-one 30s linear 0s infinite;
}

@keyframes animation-one{
0%{
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

14%{
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

28%{
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

42%{

  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

56%{
  background-image: linear-gradient(to right, #00b09b, #96c93d);
}

70%{
  background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
}

84%{
  background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
}

100%{
  background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}
}

/* Below Footer component design */
.footer-font{
  color: #FF6000;
}

.footer-container a, .footer-container p{
  color: white !important;
  text-decoration: none;
}

/* Below error page design */
.error-container{
  width: 100%;
  height: 100vh;
  background-image: url(./assets/404plate.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

.error-code{
font-size: 5rem;
font-family: 'Pacifico', cursive;
}


/* Responsive media query started */
@media screen and (max-width:1350px){
  .carousel-caption {
    top: 25%;
    transform: translateY(-50%);
  }
}

@media screen and (max-width:900px){
  .details-container{
    flex-wrap: wrap;
  }

  .details-container img{
     width: 100%;
  }
} 

@media screen and (max-width:750px){
  .chef-card{
    width: 100%;
  }

  .common-heading-text{
    font-size: 3rem;
  }
}

@media screen and (max-width:550px){
    .nav-item{
      flex-direction: column;
      justify-content: flex-start;
    }
    .newsletter-container{
      padding: 2rem 1rem;
    }

    .common-heading-text{
      font-size: 1.7rem;
    }

    .common-paragraph-text{
      font-size: 1rem;
    }
    .carousel-caption {
      top: 25%;
      transform: translateY(-20%);
    }
}


@media screen and (max-width:300px){
    .nav-item{align-items:start;}
    
    .links{
       display: flex;
       flex-direction: column;
    }

}


