@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Parisienne&display=swap');

/* font-family: 'Pacifico', cursive;
font-family: 'Parisienne', cursive; */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Below Navber component design */
.logo-text{
  font-family: 'Parisienne', cursive;
}

.links{
  text-decoration: none;
}

.nav-container{
  background-color: black;
}

 .nav-item{
    width: 90%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    font-size:1.3rem;
}

.nav-container img{
    width: 10% !important;
    height: 4%;
}
/* Above Navber component design */

/* Below Home component design */

.banner-special-text{
  color:aqua;
}

.banner img{
    object-fit: cover;
    height: 60vh;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}

/* Above Home component design */


/* Below Login component design */
.login-bar{
  border: 1px solid black;
  font-size:1.3rem;
  font-weight: bold;
  border-radius: 5px;
}

.login-bar:hover{
  border: 1px solid rgb(8, 164, 255);
  color: white !important;
  background-color: rgb(8, 164, 255);
}

/* Above Login component design */


.details-container{
  width: 90%;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
}

.details-container img{
  max-width: 580px;
}


.chef-card{
  /* border: 1px solid red; */
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.receipe-card{
  width: 90% !important;
  margin: 0 auto;
}

.receipe-card span{
  font-weight: 500;
}
.error-container{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/404plate.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}

.error-code{
  font-size: 5rem;
  font-family: 'Pacifico', cursive;
}

.footer-font{
  color: #FF6000;
}

.footer-container a, .footer-container p{
  color: white !important;
  text-decoration: none;

}

@media screen and (max-width:1350px){
  .carousel-caption {
    top: 25%;
    transform: translateY(-50%);
  }
}

@media screen and (max-width:900px){
  .details-container{
    flex-wrap: wrap;
  }

  .details-container img{
     width: 100%;
  }

  .register-form{
    width: 75% !important;
  }

} 

@media screen and (max-width:750px){
  .chef-card{
    width: 100%;
  }
}

@media screen and (max-width:550px){
    .nav-item{
      flex-direction: column;
      justify-content: flex-start;
    }
}

@media screen and (max-width:250px){
    .nav-item{align-items:start;}
    
    .links{
       display: flex;
       flex-direction: column;
    }
}


